*{
    padding: 0%;
    height: 100%;
    width: 100%;

}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    image-rendering: pixelated; 
    -webkit-font-smoothing: antialiased;
}